[Unit]
Description=Serviço do ytmusicdl
After=network.service

[Service]
Restart=always
WorkingDirectory=/home/lucas/repos/ytmusicdl
Environment="PATH=/home/lucas/repos/ytmusicdl/.venv/bin:$PATH"
ExecStart=/usr/bin/bash start.sh

[Install]
WantedBy=default.target
